extends base/pug/base
append variables
	- var title = 'Assortel'
	- var pageClass = ''
	- var pageUrl = '/'
block content
	.section.section-main
		+picture({
			img: 'images/bg-1.png',
			class: 'bg'
		})
		.desc-center
			.container
				img(src="images/main-banner.svg" loading="loading")
	.running-line.js-marquee
		.inner
			ul
				li качественная продукция
				li отборные фрукты и овощи
				li натурально и полезно
				li качественная продукция
				li отборные фрукты и овощи
	.section.section-3.section-parallax
		.inner
			img(src="images/bg-3.png" loading="lazy" class="bg")
			img(src="images/p-1.png" loading="lazy" class="parallax parallax-1" data-speed="3").left.top
			img(src="images/p-2.png" loading="lazy" class="parallax parallax-2" data-speed='2').right.top
			img(src="images/p-3.png" loading="lazy" class="parallax parallax-3"  data-speed="5").right.top
			img(src="images/p-4.png" loading="lazy" class="parallax parallax-4" data-speed="5").left.bottom
			img(src="images/p-5.png" loading="lazy" class="parallax parallax-5" data-speed="5").right
			img(src="images/p-6.png" loading="lazy" class="parallax parallax-6" data-speed="1").left.top
			img(src="images/p-7.png" loading="lazy" class="parallax parallax-7" data-speed="3").left
			img(src="images/pot-4.png" loading="lazy").pot-4
			img(src="images/pot-3.png" loading="lazy").pot-3
	mixin catalog(data)
		.catalog&attributes(attributes)
			.container
				.title=data.ttl
				.product-carousel
					.swiper
						.swiper-wrapper
							each itm in data.products
								.swiper-slide
									.card
										.pict
											+picture({
												media: false,
												img: itm.img,
												alt: itm.ttl
											})
										.ttl!=itm.ttl
					.swiper-button-prev
						+icon('angle-left')
					.swiper-button-next
						+icon('angle-right')
	+catalog({
		ttl: 'Овощная консервация',
		products: [
			{
				img: 'images/img-1.png',
				ttl: 'Томаты в собственном <br>соку, 400 г'
			},
			{
				img: 'images/img-2.png',
				ttl: 'Горошек зелёный, <br>300 г'
			},
			{
				img: 'images/img-3.png',
				ttl: 'Кукуруза сахарная, <br>300 г'
			},
			{
				img: 'images/img-4.png',
				ttl: 'Горошек зелёный, <br>400 г'
			},
			{
				img: 'images/img-1.png',
				ttl: 'Томаты в собственном <br>соку, 400 г'
			},
			{
				img: 'images/img-2.png',
				ttl: 'Горошек зелёный, <br>300 г'
			},
			{
				img: 'images/img-3.png',
				ttl: 'Кукуруза сахарная, <br>300 г'
			},
			{
				img: 'images/img-4.png',
				ttl: 'Горошек зелёный, <br>400 г'
			}
		]
	})#vegetables
	.section.section-4.section-parallax
		.inner
			img(src="images/bg-6-new.png" loading="lazy" class="bg")
			img(src="images/p-6-10.png" loading="lazy" class="parallax parallax-10" data-speed="8").left
			img(src="images/p-6-8.png" loading="lazy" class="parallax parallax-8" data-speed="3").bottom
			img(src="images/p-6-1.png" loading="lazy" class="parallax parallax-1" data-speed="3").left.top
			img(src="images/p-6-2.png" loading="lazy" class="parallax parallax-2" data-speed="1").left.bottom
			img(src="images/p-6-3.png" loading="lazy" class="parallax parallax-3" data-speed="3").left.bottom
			img(src="images/p-6-4.png" loading="lazy" class="parallax parallax-4" data-speed="3").right
			img(src="images/p-6-5.png" loading="lazy" class="parallax parallax-5" data-speed="10").left.bottom
			img(src="images/p-6-6.png" loading="lazy" class="parallax parallax-6" data-speed="7").left
			img(src="images/p-6-9.png" loading="lazy" class="parallax parallax-9" data-speed="6").right
			img(src="images/p-6-11.png" loading="lazy" class="parallax parallax-11" data-speed="2").right.bottom
			img(src="images/p-6-12.png" loading="lazy" class="parallax parallax-12" data-speed="3").top
			img(src="images/pot-1.png" loading="lazy").pot-1
			img(src="images/pot-2.png" loading="lazy").pot-2


	+catalog({
		ttl: 'Плодовая консервация',
		products: [
			{
				img: 'images/img-5.png',
				ttl: 'Абрикос протёртый<br>с сахаром, 400 г'
			},
			{
				img: 'images/img-6.png',
				ttl: 'Земляника протёртая<br>с сахаром, 300 г'
			},
			{
				img: 'images/img-7.png',
				ttl: 'Чёрная смородина<br>с сахаром, 300 г'
			},
			{
				img: 'images/img-8.png',
				ttl: 'Лимон протёртый<br>с сахаром, 400 г'
			},
			{
				img: 'images/img-5.png',
				ttl: 'Абрикос протёртый<br>с сахаром, 400 г'
			},
			{
				img: 'images/img-6.png',
				ttl: 'Земляника протёртая<br>с сахаром, 300 г'
			},
			{
				img: 'images/img-7.png',
				ttl: 'Чёрная смородина<br>с сахаром, 300 г'
			},
			{
				img: 'images/img-8.png',
				ttl: 'Лимон протёртый<br>с сахаром, 400 г'
			}

		]
	}).color-red#fruit
	-
		var carousel = [
			'images/c-img-1.png',
			'images/c-img-2.png',
			'images/c-img-3.png',
			'images/c-img-1.png',
			'images/c-img-2.png',
			'images/c-img-3.png'
		]
	.bottom-carousel
		.swiper
			.swiper-wrapper
				each img in carousel
					.swiper-slide
						+picture({
							media: false,
							img: img
						})

